

.Entrar{
    color:white;
    background-color: rgb(48, 37, 37);
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}

body{

    background-image: url("Imagens\ 2/logo1.jpg");
    text-align: center;
    color:rgb(8, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(0, 0, 0);

}

ul{

    color:rgb(255, 255, 255);
}
ol {
    color:rgb(255, 255, 255);

}

.botao {
    text-decoration: none;
    background-color: #e0d20d;
    color: rgb(7, 7, 7);
    padding: 10px 20px;
    border-radius: 5px;
}

.botao1 {
    text-decoration: none;
    background-color: #c2b313;
    color: rgb(7, 7, 7);
    padding: 10px 20px;
    border-radius: 5px;

}
.video {

    color: rgb(17, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}